<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="{{ .Description }}" name="description">
  <title>{{ with .Params.seoTitle }}{{ . }}{{ else }}{{ .Title }}{{ end }}</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/prose.css">
  <link href="/favicon.svg" rel="icon" type="image/svg+xml">

  {{ block "head" . }}{{ end }}

  {{ partial "opengraph.html" . }}
</head>

<body class="bg-white text-gray-800 antialiased">
{{ partial "header.html" . }}

<main class="overflow-x-hidden">
  {{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}


</body>
</html>
